.filter-list, .list-cards, .footer, .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-link-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

/* Common properties */
header {
  background-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #212121;
}

footer {
  background-color: #2f303a;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links,
.logo {
  text-decoration: none;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.smalltitle {
  margin-top: 0;
  margin-bottom: 0;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.logo-blue {
  color: #2196f3;
}

.logo.inverse {
  color: #ffffff;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .links {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .links:hover,
.site-nav .links:focus {
  color: #2196f3;
}

.site-nav .underline {
  position: relative;
}

.site-nav .underline::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .underline:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-nav .current {
  position: relative;
  color: #2196f3;
}

.site-nav .current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.post-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.post-call .item {
  margin-left: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.post-call .item:nth-child(1) {
  margin-left: 0;
}

.post-call .links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.post-call .links:hover,
.post-call .links:focus {
  color: #2196f3;
  fill: #2196f3;
}

.icon-phone,
.icon-mail {
  margin-right: 10px;
}

/* Filter-buttons */
.container-filter {
  padding-top: 93px;
}

.filter-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-item {
  margin-right: 8px;
}

.button-item:last-child {
  margin-right: 0;
}

.button-filter {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  background-color: #f5f4fa;
  border: transparent;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover, .button-filter:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.container-cards {
  padding-top: 50px;
  padding-bottom: 94px;
  background-color: rgba(255, 255, 255, 0.4);
}

.card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.link-card {
  display: block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-card:hover, .link-card:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  background: #ffffff;
}

.card-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card-description {
  margin: 0;
  padding-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.image-text {
  position: relative;
  overflow: hidden;
}

.text-inside {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-card:hover .text-inside {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  padding-top: 60px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.address-footer {
  margin-right: 69px;
}

.city-adress {
  margin-top: 20px;
  color: #ffffff;
}

.footer-contacts {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover, .footer-contacts:focus {
  color: #2196f3;
}

.social-links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.social-links .item {
  margin-right: 10px;
}

.social-links .item:last-child {
  margin-right: 0;
}

.social-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  margin-right: 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover, .social-link-footer:focus {
  background-color: #2196f3;
}

.social-contacts .smalltitle,
.sign-in .smalltitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.mail-footer {
  margin-top: 20px;
  padding: 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}

.form-sending input::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-sending input:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-sending input::-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-sending input::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.button-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 29px;
  min-width: 200px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.icon-airplane {
  margin-left: 10px;
}

.developers {
  margin-top: 18px;
  margin-bottom: 0;
  padding-bottom: 21px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}
/*# sourceMappingURL=portfolio.css.map */