// Base

.customers-list {
  @extend %social-flex;
  justify-content: center;
  align-items: center;

  .item-customers {
    display: flex;
    justify-content: center;
  }
}

.icon-cutomers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: $colorItems;
  background-color: rgba(255, 255, 255, 0.1);
  transition: $transition;

  &:hover {
    border: 1px solid #2196f3;
    fill: $colorAccent;
  }
}

// Mobile

@media screen and (max-width: 767px) {
  .customers-container {
    padding-top: 94px;
    padding-bottom: 0;
  }

  .item-customers {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

// Tablet

@media screen and (min-width: $tablet) {
.customers-container {
  padding-top: 60px;
  padding-bottom: 30px;
}

  .item-customers {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

// Descktop

@media screen and (min-width: $descktop) {
  .customers-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .item-customers {
    width: calc((100% - 150px) / 6);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3) {
      margin-right: 30px;
    }
  }
}
