.mail-footer {
  margin-top: 20px;
  padding: 15px 16px;
  width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: $colorFooter;

  color: $colorWhite;
}

.form-sending input::placeholder {
  font-family: $fontRoboto;
  @include Fonts(400, 16px, 1.25);

  color: rgba(255, 255, 255, 0.6);
}
