.logo {
  font-family: $fontRaleway;
  @include Fonts(700, 26px, 1.2);
  color: $colorLogoBlack;

  &-blue {
    color: $colorBlue;
  }

  &.inverse {
    color: $colorWhite;
  }
}


// Mobile

@media screen and (max-width: 767px) {

}

// Tablet

@media screen and (min-width: $tablet) {

}

// Descktop

@media screen and (min-width: $descktop) {

}