.social-links {
  @extend %social-flex;
  justify-content: center;
  padding-top: 20px;

.item {
    margin-right: 10px;
  }

.item:last-child {
    margin-right: 0;
  }
}

.social-link-footer {
  @extend %social-size;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $colorWhite;
  margin-right: 10px;
  transition: $transition;

  &:hover,
  &:focus {
    background-color: $colorAccent;
  }
}

.social-contacts .smalltitle,
.sign-in .smalltitle {
  @include Fonts(700, 14px, 1.14);
  text-transform: uppercase;

  color: $colorWhite;
}
